* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(50, 65, 119, 0.7)),url(images/main\ interface.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-right: 30px;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #7fffd4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%)
}
.text-box h1 {
    font-size: 40px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover {
    background: #7fffd4;
    transition: 1s;
    border: 1px solid #7fffd4;
}
nav .fa {
    display: none;
}
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block; 
    }
    .nav-links {
        position: absolute;
        background: #7fffd4;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .material-symbols-outlined {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav-links ul {
        padding: 30px;
        }
}

/* ----- Courses ----- */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
}
.campus-col img {
    width: 100%;
    display: block;  
}
.course-col {
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}
.h3 {
    text-align:center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*------- campus --------*/
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facility-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.facility-col img {
    width: 100%;
    display: block;  
}
.facility {
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.facility:hover {
    background: #e20000b3;
}
.facility h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.facility:hover h3 {
    bottom: 50%;
    opacity: 1;
}

/*--campus--*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.campus-col{
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    flex-basis: 31%;
}
.campus-col img {
    width: 100%;
    border-radius: 10px;
}
.campus-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*--- testimonials ---*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 15px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img {
    height: 80px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p {
    padding: 0;   
    color: #276b54;
}
.testimonial-col h3 {
    margin-top: 15px;
    text-align: center;
}

/*--- Enrollment ---*/
.enrollment {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(50, 65, 119, 0.7)),url(images/enroll.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.enrollment h1 {
    color: white;
    padding: 0;

}
@media(max-width: 700px){
    .enrollment h1 {
        font-size: 24px;
    }
}

/*--- footer ---*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 2px;
    margin-top: 5px;
    font-weight: 600;
}
.footer p {
    font-size: 10px;
    margin-top: 20px;
}
.icons .fa {
    color:rgb(207, 36, 36);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.fa-heart {
    color: red;

}